.root{

  -fx-font-family: "Courier New";
  -fx-font-weight: bold;
  /*-fx-base: rgb(132, 145, 47);
  -fx-font-size: 16pt;
  -fx-background: rgb(225, 228, 203);*/
}

.titled-pane > .title {
  -fx-transition-duration: 0.4s;
}

.titled-pane:hover > .title {
  -fx-background-color: #83c5be;
  -fx-color: white;
}

.button {
  -fx-transition-duration: 0.4s;
}

.button:hover {
  -fx-background-color: #cbf3f0;
  -fx-color: white;
  -fx-border-color: #83c5be;
  -fx-border-radius: 5;
}

.toggle-button {
  -fx-transition-duration: 0.4s;
}

.toggle-button:hover {
  -fx-background-color: #cbf3f0;
  -fx-color: white;
  -fx-border-color: #83c5be;
  -fx-border-radius: 5;
}